.intro {
    margin-top: 7.3rem;
    text-align: center;
    color: var(--neutral-white);
    background: var(--primary-intro-email-bg);
    padding-bottom: 13rem;
    background-image: url(../Images/bg-curvy-desktop.svg);
    object-fit: scale-down;
    background-size: 100% 70%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.intro > img {
    max-width: 650px;
    object-fit: scale-down;
    margin: 0 auto;
}

.intro > h1 {
    font-size: 35px;
    line-height: 1.5;
    max-width: 30ch;
    margin:0 auto;
    font-weight: 700;
    padding-top: 1.5rem;
}

.intro > p {
    max-width: 50ch;
    margin:0 auto;
    padding: 1.5rem 0;
    opacity: 0.7;
    font-weight: 500;
    line-height: 1.5em;
    font-size: 16px;
}

.get-started {
    background: linear-gradient(to right, 
    var(--accent-call-to-action-cyan), 
    var(--accent-call-to-action-blue));
    display: inline-block;
    padding: 0.8rem 4rem;
    border-radius: 2rem;
    transition: 200ms ease-in-out;
}

.get-started:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media (max-width: 900px) {
    .intro {
        margin-top: 6.9rem;
        background-image: url(../Images/bg-curvy-mobile.svg);
        background-size: 100% 40%;
    }
    
    .get-started {
        font-weight: bold;
        padding: 1rem 5rem;
    }

    .intro > img {
        max-width: 400px;
    }

    .intro > h1 {
        max-width: 20ch;
    }

    .intro > p {
        max-width: 40ch;
    }

}




