.register {
    text-align: center;
    color: var(--neutral-white);
    font-weight: 700;
    position: relative;
    top: 120px;
}

.register-content {
    margin: 0 auto;
    max-width: 45rem;
    background: var(--primary-intro-email-bg);
    border-radius: 0.4rem;
    padding: 1rem 5rem 3rem 5rem;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.register-content > h2 {
    font-size: 35px;
}

.register-content > p {
    font-size: 15px;
    opacity: 0.7;
    font-weight: 500;
    line-height: 1.5rem;
}

input[type=submit] {
    padding: 1rem 2.5rem;
    background: linear-gradient(to right,
    var(--accent-call-to-action-cyan),
    var(--accent-call-to-action-blue));
    border-radius: 2rem;
    transition: 200ms ease-in-out;
    border: none;
    color: var(--neutral-white);
}

input[type=submit]:hover {
    cursor: pointer;
    opacity: 0.6;
}

input[type=text] {
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    width: 100%;
    transition: 100ms ease-in-out;
    outline: none !important;
    border: 2px solid rgba(51, 158, 204, 0) !important;
}

input[type=text]:focus {
    outline: none !important;
    border: 2px solid var(--accent-call-to-action-blue) !important;
}

form {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.register-content > p:nth-of-type(2) {
    height: 1rem;
}

.emailNotValid, .emailValid {
    text-align: left;
    padding-left: 2rem;
    opacity: 1;
}
.emailNotValid {
    color: #f60013
}
.emailValid {
    color: #4BB543;
}

@media (max-width: 900px) {
    form {
        flex-direction: column;
    }
    
    input[type=text] {
        width: 50%;
    }

    input[type=submit] {
        width: 70%;
        font-weight: bold;
    }

    .register-content {
        border-radius: 1rem;
        padding: 1rem 1rem 1rem 1rem;
    }
    .register {
        max-width: 27rem;
        margin: 0 auto;
    }
    .register-content > h2 {
        font-size: 25px;
    }
    .register-content > p {
        max-width: 30ch;
        margin: 0 auto;
    }
}